body {
  width: 100%;
  background-color: #2C2C2C;
}

body .bg {
  background-image: url(../img/bg.svg);
  height: 100vh;
  width: 100vw;
  background-size: contain;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
}

body .container {
  width: 94vw;
  margin: 0 auto;
}

body .container .header-box {
  position: absolute;
  z-index: 1;
  opacity: 40%;
  background-color: #00FFFF;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
  width: inherit;
  height: 70px;
  top: 15px;
}

body .container .content-box {
  margin: 50px auto 60px auto;
  padding-bottom: 20px;
  width: 90%;
  -webkit-box-shadow: inset 0px 5px 18px rgba(197, 255, 251, 0.2);
          box-shadow: inset 0px 5px 18px rgba(197, 255, 251, 0.2);
  border-radius: 0px 0px 20px 20px;
  background-color: rgba(103, 103, 103, 0.4);
}

body .container .content-box form {
  padding-top: 55px;
}

body .container .content-box form .text {
  width: 226px;
  height: 44px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

body .container .content-box form input {
  margin: 0 auto;
  display: block;
}

body .container .content-box form #submit {
  width: 151px;
  height: 44px;
  background: #EBEBEB;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

body .container .content-box form textarea, body .container .content-box form #submit {
  margin: 20px auto 0 auto;
  display: block;
}

body .container .content-box form textarea, body .container .content-box form #name::-webkit-input-placeholder {
  font-size: 18px;
  font-family: Sansation;
  color: rgba(0, 0, 0, 0.4);
}

body .container .content-box form textarea, body .container .content-box form #name:-ms-input-placeholder {
  font-size: 18px;
  font-family: Sansation;
  color: rgba(0, 0, 0, 0.4);
}

body .container .content-box form textarea, body .container .content-box form #name::-ms-input-placeholder {
  font-size: 18px;
  font-family: Sansation;
  color: rgba(0, 0, 0, 0.4);
}

body .container .content-box form textarea, body .container .content-box form #name::placeholder {
  font-size: 18px;
  font-family: Sansation;
  color: rgba(0, 0, 0, 0.4);
}

body .container .content-box form #submit {
  font-size: 24px;
  font-family: Roboto-Medium;
  color: #484848;
}

body .container .content-box #main-text {
  margin: 40px 0 10px 0;
  text-align: center;
  font-size: 48px;
  font-family: Sansation;
  color: #fff;
}

body .container .content-box #description-text {
  text-align: center;
  font-size: 24px;
  font-family: Sansation;
  color: #fff;
  opacity: 80%;
  padding-bottom: 45px;
}

body .container .list {
  margin: 15px auto 15px auto;
  position: relative;
}

body .container .list .list-btn {
  display: block;
  width: 229px;
  height: 44px;
  background: #EBEBEB;
  border-radius: 15px 15px 5px 5px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11px;
}

body .container .list .list-btn .down-icon {
  background-image: url(../img/icon/icon.svg);
  background-size: contain;
  width: 41px;
  height: 20px;
}

body .container .list .list-btn .block-p {
  width: 170px;
  margin-left: 10px;
  font-weight: 300;
  font-size: 18px;
  overflow: hidden;
  font-size: 18px;
  font-family: Roboto;
  color: #0A0A0A;
  text-align: left;
}

body .container .list .collaps {
  width: 219px;
  background: #D7D7D7;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  display: none;
}

body .container .list .collaps .box-p {
  padding: 10px 10px 20px 10px;
  font-size: 16px;
  font-family: Roboto;
  color: #0A0A0A;
  white-space: break-spaces;
}

body .container .list .collaps .delete-btn {
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-family: Roboto-Medium;
  color: #FF3333;
  margin: 0 auto;
  display: block;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .text {
    width: 473px;
  }
}
/*# sourceMappingURL=main.css.map */